@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: black;
  color: white;
}

.Textarea_search {
  background-color: #16181c;
  color: #6c7075;
  border: none;
  resize: none;
}
.Textarea_search:focus {
  outline: none;
  border: none;
}
.Textarea_Tweets:focus {
  outline: none;
  border: none;
}
.Textarea_Tweets {
  background-color: black;
  color: #6c7075;
  border: none;
  resize: none;
}

.sous_titre_bas {
  color: #6c7075;
}
button {
  border: none;
}

input {
  border: none;
}
/* la plus grande div contenant la navbar, le body et la partie search */

.nav_body_search {
  display: flex;
  border: 2px solid transparent;
  height: 100vh;
  width: 75%;
  margin: auto;
}

/* la navbar */
.header {
  border: 2px solid transparent;
  width: 25rem;
  position: fixed;
  top: 0;
  left: 15rem;
  height: 100vh;
}
nav {
  font-weight: bold;
}
.Twitter_icon {
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  right: 1px;
}
.nav_icon {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.espace_photo {
  width: 3rem;
  height: 3rem;
  margin-top: 2px;
  border-radius: 100%;
  background-color: rgb(67, 67, 67);
}
.nom_utilisateur_bas {
  display: flex;
  margin-top: 17.5rem;
  gap: 15px;
}
.menu {
  position: relative;
  bottom: 7px;
  margin-left: 1rem;
}
.button_nav {
  position: relative;
  top: 5rem;
  width: 80%;
  margin: auto;
  height: 3rem;
  border-radius: 30px;
  background-color: #1d9bf0;
  color: white;
  font-weight: 700;
}
.more_2_nav {
  position: relative;
  left: 12rem;
  top: 1rem;
}

.Page_title,
.Nom_de_compte {
  font-weight: 700;
}

.Sous_titre_profil {
  color: #6c7075;
}
/* le body */

/* en-tete */
.timeline {
  width: 50%;
  margin-left: 27rem;
  height: 100vh;
}
.tweets {
  width: 100%;
  border-left: 1px solid rgb(180, 179, 179);
  border-right: 1px solid rgb(180, 179, 179);
}
.profile_text {
  display: flex;
  width: 20rem;
}
.profile_text p {
  height: 2rem;
  border: 2px solid transparents;
}
.tweet_editor {
  height: 5rem;
  width: 100%;
  border-top: 1px solid rgb(180, 179, 179);
  border-bottom: 1px solid rgb(180, 179, 179);
  border-left: 1px solid rgb(180, 179, 179);
  border-right: 1px solid rgb(180, 179, 179);
}
.groupe_icon {
  border: 2px solid black;
  display: flex;
  gap: 20rem;
}

.button_body {
  padding: 5px;
  background-color: #1d9bf0;
  border-radius: 30px;
  color: white;
  font-weight: 700;
  position: relative;
  bottom: 7px;
  left: 2rem;
}
.photo_text {
  width: 3rem;
  height: 3rem;
  border: 2px solid red;
  border-radius: 100%;
}
.tweet_image {
  border: 2px dashed red;
  height: 16.06rem;
  width: 35rem;
  max-height: 16.06rem;
  max-width: 35rem;
  border-radius: 8px;
}

.Home_starIcon {
  width: 100%;
  border-left: 1px solid rgb(180, 179, 179);
  border-right: 1px solid rgb(180, 179, 179);
}
.Home_starIcon p {
  display: flex;
  gap: 30rem;
}

/* Tweet */

.photoTweet_certif {
  display: flex;
  border: 2px solid transparent;
}
.photo_pt {
  width: 2rem;
  height: 2rem;
  border: 2px solid firebrick;
  border-radius: 100%;
}
.Tweet_text {
  padding: 4px;
}
.reaction {
  padding-top: 1rem;
  border-bottom: 1px solid rgb(180, 179, 179);
  display: flex;
  gap: 7rem;
}

.Nombre {
  position: relative;
  bottom: 5px;
}
/* la partie search */

.partie_search {
  border: 2px solid transparent;
  width: 30rem;
  margin-right: 3rem;
}

/* Partie search */
.partie_search {
  margin-left: 2rem;
  height: 100vh;
}

.Trends_whoFollow {
  border: 2px solid transparent;
  position: sticky;
  top: 0;
}
.differente_tendance {
  display: flex;
  gap: 12rem;
}
.Titre_et_Image {
  display: flex;
  gap: 7rem;
}
.Titre_et_Image,
.differente_tendance,
.button_more,
.Squid {
  padding: 4px;
  border: 2px solid transparent;
}

.button_more {
  border: none;
  background: none;
  color: #1d9bf0;
}
#PremierButtonFooter {
  position: relative;
  left: 1rem;
}
.newyokConteneur {
  display: flex;
  position: relative;
  left: 1rem;
  gap: 20px;
}

.input_search img {
  width: 20px;
  padding: 10px;
}

.input_search {
  background-color: #16181c;
  border-radius: 30px;
}

.Trends {
  background-color: #16181c;
  border-radius: 20px;
  margin-top: 2rem;
}

.partie_whoToFollow {
  background-color: #16181c;
  border-radius: 20px;
  margin-top: 2rem;
}

.partie_whoToFollow button {
  position: relative;
  left: 1rem;
}

.partie_whoToFollow h1 {
  position: relative;
  left: 1rem;
  padding: 5px;
}

.Follow {
  background-color: white;
  border-radius: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.Trends p {
  position: relative;
  left: 1rem;
}

.partie_whoToFollow p {
  position: relative;
  right: 1rem;
}

.partie_search h2 {
  position: relative;
  left: 1rem;
}

.nbre_de_tweet {
  color: #6c7075;
}
